{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Programming Assignment</h1>
    <p class="lead">
        We use Github for version control of our projects.
        One of the features is a basic Issue Tracker, but it doesn't have much in the way of reporting.
        Your challenge is to use the Github API to pull all the Github issues and display them in a table.
    </p>

</div>

<div class="row">
        <h1>GIT Integration</h1>
<ul>
    <li><h3>Items:</h3></li>
    <li>
       Login Screen as per right hand corner.
    </li>
    <li>Display issues.</li>
    <li>Create issues</li>
        <li>OAUTH changes.</li>
</ul>

    <ul>
    <li><h3>Outstanding Items:</h3></li>
        <li>User Jquery to populate the dropdowns</li>
        <li>Get a dropdown with repo's for the user to select and search</li>
        <li>More error checking, especially on the creating of a issue.</li>
        <li>Notifications on save login etc.</li>
        <li>Login button to become logout button (not being able to login again)</li>
        <li>Pagenation in the Issues page looks a bit ugly</li>
        <li>Pagenation makes Issues page slow</li>
        <li>New Issues dropdown is a bit hardcoded, as per item one jquery must be used to populate them</li>
</ul>


</div>

{% endblock %}
